.column {
  max-width: 20%;
  float: left;
  /*border: 4px blue solid;*/
  margin:1%;
  background-color: yellow;
  border-radius: 10px;
}



img {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  padding: 10%;
  border-radius: 25%;
}

h3 {
  text-align: center;
  color: darkgreen;
  font-size: 35px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

body {
  background-image: url("img/background.jpg");
  background-color: #000066;
  background-repeat: no-repeat;
  background-size: 100%;


}

p {
  margin: 30px;
  font-size: 20px;
}
